<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>FoodService by Evgenii Gavrilin</title>
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
</head>

<body>
<p class="error">Ooops...Something went wrong</p>
<a th:href="@{/}">TO THE HOME PAGE</a>
</body>
</html>